

@Styles.Render("~/Content/easyui")
@Scripts.Render("~/Content/easyuijs")


<script type="text/javascript">
    function login() {
        $.ajax({
            async: false,
            url: '/Data/Login',
            data: {"Name":$('#username').val(),"Password":$('#password').val(),"VerficationCode":$('#code').val()},
            dataType:'json',
            type: 'POST',
            success: function (data) {
                if (data.Code != 3) {
                    $('#msg').html(data.Message);
                } else {
                    window.location.href = "/User";
                }
            }

        });
    }
    
    function findfile() {
        window.open("/Home/Report/?filecode=" + $('#filecode').val());
    }

</script>

<style>
    li{
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }
</style>

<div style="width:100%">
    <table style="width:100%">
        <tr>
            <td style="width:24%">
                <div class="border" style="padding-bottom:18px;">
                    <h4 class="title">查询服务</h4>
                    <div>
                        <div class="input-group" style="margin-bottom:6px;">
                            <input type="text" class="form-control" placeholder="请输入报告查询明码" id="filecode" />
                            <span class="input-group-addon btn " style="background-color:#0690FA;color:#fff;" onclick="findfile()">
                                <span class="glyphicon glyphicon-search"></span>
                                搜索
                            </span>
                        </div>
                        <p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <a class="btn btn-info btn-default  form-control" href="/Home/JGCX">机构查询</a>
                                </div>
                                <div class="col-lg-6">
                                    <a class="btn btn-info btn-default form-control" href="/Home/XMCX">项目查询</a>
                                </div>
                            </div>
                        </p>
                        
                        <p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <a class="btn btn-info btn-default form-control" href="/Home/GCSCX">工程师查询</a>
                                </div>
                                <div class="col-lg-6">
                                    <a class="btn btn-info btn-default form-control" href="/Home/FWPJ">服务查询</a>
                                </div>
                            </div>
                        </p>
                        
                            
                        

                    </div>
                </div>
            </td>
            <td style="width:38%;">
                <div class="border">
                    <h4 class="title">通知公告<span class="more"><a href="/Home/ArticleList/?category=0">更多>></a></span></h4>
                    <div class="list" >
                        @Html.Action("LastArticleList", new { category = 0 })
                    </div>
                </div>
            </td>
            <td style="width:38%;">
                <div class="border">
                    <h4 class="title">技术标准<span class="more"><a href="/Home/ArticleList/?category=1">更多>></a></span></h4>
                    <div class="list">
                        @Html.Action("LastArticleList", new { category = 1 })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:24%">
                <div class="border" style="padding-bottom:5px;">
                    <h4 class="title">系统登录</h4>
                    <div id="login">
                        <p >
                            <input class="form-control input-sm " name="Name" id="username" placeholder="用户名" required="true">
                        </p>

                        <p >
                            <input type="password" class="form-control input-sm" name="Password" id="password" placeholder="密　码" required="true">
                        </p>
                        <div class="form-group">
                            <input class=" input-sm" name="VerficationCode" id="code" placeholder="验证码" style="width:50%"  required="true"/>
                            <img id="verificationcode" alt="" src="@Url.Action("VerificationCode", "Home")"  onclick="this.src = '/Home/VerificationCode?d=' + Math.random();"/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default btn-sm" onclick="login()" >登录</button>
                            <label id="msg" style="color:red;float:right;"></label>
                        </div>
                    </div>
                </div>
            </td>
            <td style="width:38%;">
                <div class="border">
                    <h4 class="title">相关法规<span class="more"><a href="/Home/ArticleList/?category=2">更多>></a></span></h4>
                    <div class="list">
                        @Html.Action("LastArticleList", new { category = 2 })
                    </div>
                </div>
            </td>
            <td style="width:38%;">
                <div class="border">
                    <h4 class="title">办事指南<span class="more"><a href="/Home/ArticleList/?category=3">更多>></a></span></h4>
                    <div class="list">
                        @Html.Action("LastArticleList", new { category = 3 })
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
