@{
    Layout = null;


    if (ViewBag.Role=="超级管理员")
    {
        <li id="home" data-options="attributes:{'url':'@Url.Action("Index1")'}">
            <span>主页</span>
        </li>
    }

    if (ViewBag.Role== "消防机构总队")

    {
        <li id="home" data-options="attributes:{'url':'@Url.Action("Index2")'}">
            <span>主页</span>
        </li>
        <li data-options="attributes:{'url':'@Url.Action("XMJG")'}">
            <span>项目监管</span>
        </li>
        <li data-options="attributes:{'url':'@Url.Action("JGBA")'}">
            <span>机构备案</span>
        </li>
        <li data-options="attributes:{'url':'@Url.Action("ZCGCSBA")'}">
            <span>注册工程师备案</span>
        </li>
        <li>
            <span>查询统计</span>
            <ul>
                <li data-options="attributes:{'url':'@Url.Action("XMCX")'}">
                    <span>项目查询</span>
                </li>
                <li data-options="attributes:{'url':'@Url.Action("JGCX")'}">
                    <span>机构查询</span>
                </li>
                <li data-options="attributes:{'url':'@Url.Action("ZCGCSCX")'}">
                    <span>注册工程师查询</span>
                </li>
            </ul>
        </li>
        
    }

    if (ViewBag.Role == "消防机构支队")
    {
        <li id="home" data-options="attributes:{'url':'@Url.Action("Index3")'}">
            <span>主页</span>
        </li>

        <li data-options="attributes:{'url':'@Url.Action("JGBA")'}">
            <span>机构备案</span>
        </li>
    }

    if (ViewBag.Role == "消防机构大队")
    {
        <li data-options="attributes:{'url':'@Url.Action("Index4")'}">
            <span>主页</span>
        </li>

        <li data-options="attributes:{'url':'@Url.Action("JGBA")'}">
            <span>机构备案</span>
        </li>
    }

    if (ViewBag.Role == "服务机构")
    {
        <li id="home" data-options="attributes:{'url':'@Url.Action("Index5")'}">
            <span>主页</span>
        </li>
        <li data-options="attributes:{'url':'@Url.Action("XMDJ")'}">
            <span>项目登记</span>
        </li>
        <li data-options="attributes:{'url':'@Url.Action("XMCX")'}">
            <span>项目查询</span>
        </li>
        <li data-options="attributes:{'url':'@Url.Action("RYBA")'}">
            <span>人员备案</span>
        </li>
    }

    <li data-options="attributes:{'url':'@Url.Action("MyInfo")'}">
        <span>我的信息</span>
    </li>

    
}

