
@{
    Layout = null;
}
@Styles.Render("~/Content/easyui")
@Scripts.Render("~/Content/easyuijs")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XMXQ</title>
    <script>
        $(function () {
            function option(value, text) {
                this.value = value;
                this.text = text;
            }
            var jigou = ["甘肃省公安消防总队", "兰州市公安消防支队", "兰州市公安消防支队城关区大队", "兰州市公安消防支队七里河区大队", "兰州市公安消防支队安宁区大队", "兰州市公安消防支队西固区大队", "兰州市公安消防支队红古区大队", "榆中县公安消防大队", "皋兰县公安消防大队", "永登县公安消防大队", "嘉峪关市公安消防支队", "嘉峪关市公安消防支队长城区大队", "嘉峪关市公安消防支队雄关区大队", "嘉峪关市公安消防支队镜铁区大队", "金昌市公安消防支队", "金昌市公安消防支队金川区大队", "永昌县公安消防大队", "河西堡公安消防大队", "白银市公安消防支队", "白银市公安消防支队白银区大队", "平川区大队", "靖远县公安消防大队", "景泰县公安消防大队", "会宁县公安消防大队", "天水市公安消防支队", "天水市公安消防支队秦州区大队", "天水市公安消防支队麦积区大队", "秦安县公安消防大队", "甘谷县公安消防大队", "武山县公安消防大队", "清水县公安消防大队", "张川县公安消防大队", "酒泉市公安消防支队", "酒泉市公安消防支队肃州区大队", "敦煌市公安消防大队", "玉门市公安消防大队", "金塔县公安消防大队", "瓜州县公安消防大队", "肃北县公安消防大队", "阿克塞县公安消防大队", "七里镇公安消防大队", "酒泉市公安消防支队玉门油田大队", "张掖市公安消防支队", "张掖市公安消防支队甘州区大队", "高台县公安消防大队", "临泽县公安消防大队", "肃南县公安消防大队", "民乐县公安消防大队", "山丹县公安消防大队", "武威市公安消防支队", "武威市公安消防支队凉州区大队", "天祝藏族自治县公安消防大队", "古浪县公安消防大队", "民勤县公安消防大队", "定西市公安消防支队", "定西市公安消防支队安定区大队", "通渭县公安消防大队", "陇西县公安消防大队", "渭源县公安消防大队", "临洮县公安消防大队", "漳县公安消防大队", "岷县公安消防大队", "陇南市公安消防支队", "陇南市公安消防支队武都区大队", "宕昌公安消防大队", "文县公安消防大队", "康县公安消防大队", "成县公安消防大队", "徽县公安消防大队", "西和公安消防大队", "礼县公安消防大队", "两当公安消防大队", "平凉市公安消防支队", "平凉市公安消防支队崆峒区大队", "静宁县公安消防大队", "庄浪县公安消防大队", "华亭县公安消防大队", "崇信县公安消防大队", "泾川县公安消防大队", "灵台县公安消防大队", "庆阳市公安消防支队", "庆阳市公安消防支队西峰区大队", "庆城县公安消防大队", "环县公安消防大队", "华池县公安消防大队", "合水县公安消防大队", "宁县公安消防大队", "正宁县公安消防大队", "镇原县公安消防大队", "临夏回族自治州公安消防支队", "临夏市公安消防大队", "临夏县公安消防大队", "康乐县公安消防大队", "永靖县公安消防大队", "广河县公安消防大队", "和政县公安消防大队", "东乡族自治县公安消防大队", "积石山保安族东乡族撒拉族自治县公安消防大队", "甘南州公安消防支队", "合作市公安消防大队", "夏河县公安消防大队", "碌曲县公安消防大队", "玛曲县公安消防大队", "迭部县公安消防大队", "舟曲县公安消防大队", "临潭县公安消防大队", "卓尼县公安消防大队", "兰州新区公安消防支队"];
            var hash = [[2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14], [15, 16, 17, 18], [19, 20, 21, 22, 23, 24], [25, 26, 27, 28, 29, 30, 31, 32], [33, 34, 35, 36, 37, 38, 39, 40, 41, 42], [43, 44, 45, 46, 47, 48, 49], [50, 51, 52, 53, 54], [55, 56, 57, 58, 59, 60, 61, 62], [63, 64, 65, 66, 67, 68, 69, 70, 71, 72], [73, 74, 75, 76, 77, 78, 79, 80], [81, 82, 83, 84, 85, 86, 87, 88, 89], [90, 91, 92, 93, 94, 95, 96, 97, 98], [99, 100, 101, 102, 103, 104, 105, 106, 107], [108]];

            for (var i = 0; i < hash.length; i++) {
                for (var j = 0; j < hash[i].length; j++) {
                    hash[i][j] = new option(hash[i][j], jigou[hash[i][j] - 1]);
                }
            }

            $("#jg").combobox({
                width: '168',
                editable: false,
                panelHeight: 'auto',
                valueField: 'value',
                textField: 'text',
            });

            $("#city").combobox({
                onSelect: function (record) {
                    var id = record.value;
                    //$("#jg").combobox("loadData", hash[id]);
                    //console.log(hash[id]);
                    //var data = $('#jg').combobox('getData');
                    //$('#jg').combobox('select', data[0].value);
                }
            });


            $('#projectform').form('load', '/Data/getProject/?projectID=' + @ViewBag.ID);
            $("#rcjc").attr("href", "/Data/getFile/?projectID=" + @ViewBag.ID + "&&type=0");
            $('#bg').attr("href", "/Data/getFile/?projectID=" + @ViewBag.ID + "&&type=1");
            
        });


        function setproject() {
            if (!$('#projectform').form('validate')) {
                $.messager.alert('提示', '项目信息存在无效字段，请检查', 'info');
                return;
            }
            var project = $("#projectform").serialize();
            $.ajax({
                async: false,
                url: '/Data/setProject',
                data: project,
                datatype: "json",
                type: "POST",
                success: function (data) {
                    $.messager.alert('提示', '项目修改成功!', 'info', function () {
                        window.location.reload();
                    });
                }
            });
        }

        function deleteproject() {
            var id = $('#id').val();
            $.ajax({
                async: false,
                url: '/Data/deleteProject/',
                data: id,
                type: "POST",
                success: function (data) {
                    $.messager.alert('提示', '项目删除成功!', 'info', function () {
                        window.location.reload();
                    });
                }

            });
        }

    </script>
</head>
<body>

    <form id="projectform">
        <input name="ID" style="display:none" />
        <input name="HasData" style="display:none" />
        <input name="HasReport" style="display:none" />
        <input name="Progress" style="display:none" />
        <fieldset>
            <legend>项目信息</legend>
            <table>
                <tr>
                    <td style="text-align:right">项目名称：</td>
                    <td colspan="3">
                        <input name="Name" class="easyui-textbox" style="width:100%" />
                    </td>
                    <td style="text-align:right">项目类型：</td>
                    <td>
                        <select name="Type" class="easyui-combobox" editable="false">
                            <option value="0">竣工检测</option>
                            <option value="1">年度检测</option>
                            <option value="2">维护保养</option>
                            <option value="3">安全评估</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">
                        所属地区:
                    </td>
                    <td>
                        <select class="easyui-combobox" name="City" id="city" style="width:80px;"
                                data-options="panelHeight:'auto'" editable="false">
                            <option value="0">兰州</option>
                            <option value="1">嘉峪关</option>
                            <option value="2">金昌</option>
                            <option value="3">白银</option>
                            <option value="4">天水</option>
                            <option value="5">酒泉</option>
                            <option value="6">张掖</option>
                            <option value="7">武威</option>
                            <option value="8">定西</option>
                            <option value="9">陇南</option>
                            <option value="10">平凉</option>
                            <option value="11">庆阳</option>
                            <option value="12">临夏</option>
                            <option value="13">甘南</option>
                            <option value="14">兰州新区</option>
                        </select>
                    </td>
                    <td style="text-align:right">管辖单位:</td>
                    <td>
                        <select class="easyui-combobox" name="jg" id="dg"></select>
                    </td>
                    <td style="text-align:right">详细地址：</td>
                    <td colspan="2">
                        <input class="easyui-textbox" name="Address" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">建筑类型：</td>
                    <td>
                        <select name="BuildType" class="easyui-combobox" editable="false">
                            <option value="0">公用建筑</option>
                            <option value="1">民用建筑</option>
                        </select>
                    </td>
                    <td style="text-align:right">火灾危险性：</td>
                    <td>
                        <select name="FireRisk" class="easyui-combobox" editable="false">
                            <option value="-1">无</option>
                            <option value="0">甲</option>
                            <option value="1">已</option>
                            <option value="2">丙</option>
                            <option value="3">丁</option>
                            <option value="4">戊</option>
                        </select>
                    </td>
                    <td style="text-align:right">单体建筑面积：</td>
                    <td>
                        <input class=" easyui-numberbox" name="Area" style="width:60px" />
                    </td>
                    <td style="text-align:right">建筑层总数：</td>
                    <td>
                        <input class="easyui-textbox" name="AllLayer" style="width:60px" />
                    </td>
                    <td style="text-align:right">技术服务层数：</td>
                    <td>
                        <input class="easyui-textbox" name="ServiceLayer" style="width:60px" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">合同编号：</td>
                    <td>
                        <input class="easyui-textbox" name="ContractNumber" />
                    </td>
                    <td style="text-align:right">合同签订日期：</td>
                    <td>
                        <input class="easyui-datebox" name="SignDate" style="width:96px;" />
                    </td>
                    <td style="text-align:right">合同起止日期：</td>
                    <td colspan="2">
                        <input class="easyui-datebox" name="StartDate" style="width:96px;" />-<input class="easyui-datebox" name="EndDate" style="width:96px;" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">项目负责人：</td>
                    <td>
                        <input class="easyui-textbox" name="ProjectHead" style="width:80px" />
                    </td>
                    <td style="text-align:right">技术负责人：</td>
                    <td>
                        <input class="easyui-textbox" name="TechHead" style="width:80px" />
                    </td>
                    <td style="text-align:right">联系人：</td>
                    <td>
                        <input class="easyui-textbox" name="ProjectContact" style="width:80px" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">备注：</td>
                    <td colspan="9">
                        <input class="easyui-textbox" name="Note" style="width:100%" />
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <legend>委托单位信息</legend>
            <table>
                <tr>
                    <td>委托单位：</td>
                    <td>
                        <input class="easyui-textbox" name="Object" />
                    </td>
                </tr>
                <tr>
                    <td>联系人：</td>
                    <td>
                        <input class="easyui-textbox" name="ObjectContact" />
                    </td>
                    <td>联系电话：</td>
                    <td>
                        <input class="easyui-textbox" name="ObjectContactPhone" />
                    </td>
                    <td>电子邮箱：</td>
                    <td>
                        <input class="easyui-textbox" name="ObjectEmail" />
                    </td>
                </tr>
            </table>
        </fieldset>
        @{
            
            if (ViewBag.Role == "服务机构" && ViewBag.Progress != 3)
            {
                <p style="text-align:center">
                    <a href="#" class="easyui-linkbutton" id="setproject">保存修改</a>
                    <a href="#" class="easyui-linkbutton" id="deleteproject">删除项目</a>
                </p>
            }
        }

    </form>

    入场检测资料：
    <a id="rcjc" href="#">点击下载</a>
    项目报告：
    <a id="bg" href="#">点击下载</a>
</body>
</html>
