
@{
    Layout = null;
}
@Styles.Render("~/Content/easyui")
@Scripts.Render("~/Content/easyuijs")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XMXQ</title>
    <link href="~/Content/User/ipage.css" rel="stylesheet" />
    <script>
        $(function () {
            $('#projectform').form('load', '/Data/getProject/?projectID=' + @ViewBag.ID);
            $("#rcjc").attr("href", "/Data/getFile/?projectID=" + @ViewBag.ID + "&&type=0");
            $('#bg').attr("href", "/Data/getFile/?projectID=" + @ViewBag.ID + "&&type=1");
            
        });


        function setproject(){

            var data = $('#projectform').serialize();
            $.ajax({
                async:false,
                url:'/Data/setProject',
                data:data,
                type:'POST',
                success:function(){
                    $.messager.alert('提示','项目修改成功！','info');
                }
            });
        }


        function deleteproject() {

            $.messager.confirm('提示', '确认删除此项目?', function(r){
                if (r){
                    var id = $('#id').val();
                    $.ajax({
                        async: false,
                        url: '/Data/deleteProject/?id='+id,
                        type: "POST",
                        success:function(){
                            $.messager.alert('提示',"项目删除成功！",'info');
                        }
                    });


                }
            });
            
        }

    </script>

</head>
<body>

    <form id="projectform">
        <input name="ID" style="display:none" id="id" />
        <input name="HasData" style="display:none" />
        <input name="HasReport" style="display:none" />
        <input name="Progress" style="display:none" />
        <fieldset>
            <legend>项目信息</legend>
            <table>
                <tr>
                    <td style="text-align:right">项目名称：</td>
                    <td colspan="5">
                        <input name="Name" id="name" class="easyui-textbox" style="width:100%" />
                    </td>
                    <td style="text-align:right">项目类型：</td>
                    <td>
                        <select name="Type" class="easyui-combobox" style="width:90px" readonly="true">
                            <option value="0">竣工检测</option>
                            <option value="1">年度检测</option>
                            <option value="2">维护保养</option>
                            <option value="3">安全评估</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">
                        所属地区：
                    </td>
                    <td>
                        <select name="City" class="easyui-combobox" style="width:60px" readonly="true">
                            <option value="0">兰州</option>
                            <option value="1">嘉峪关</option>
                            <option value="2">金昌</option>
                            <option value="3">白银</option>
                            <option value="4">天水</option>
                            <option value="5">酒泉</option>
                            <option value="6">张掖</option>
                            <option value="7">武威</option>
                            <option value="8">定西</option>
                            <option value="9">陇南</option>
                            <option value="10">平凉</option>
                            <option value="11">庆阳</option>
                            <option value="12">临夏</option>
                            <option value="13">甘南</option>
                            <option value="14">兰州新区</option>
                        </select>
                    </td>
                    <td></td>
                    <td></td>
                    <td style="text-align:right">管辖单位：</td>
                    <td>
                        <select name="jg" class="easyui-combobox" readonly="true">
                            <option value="2">兰州市公安消防支队</option>
                            <option value="3">兰州市公安消防支队城关区大队</option>
                            <option value="4">兰州市公安消防支队七里河区大队</option>
                            <option value="5">兰州市公安消防支队安宁区大队</option>
                            <option value="6">兰州市公安消防支队西固区大队</option>
                            <option value="7">兰州市公安消防支队红古区大队</option>
                            <option value="8">榆中县公安消防大队</option>
                            <option value="9">皋兰县公安消防大队</option>
                            <option value="10">永登县公安消防大队</option>
                            <option value="11">嘉峪关市公安消防支队</option>
                            <option value="12">嘉峪关市公安消防支队长城区大队</option>
                            <option value="13">嘉峪关市公安消防支队雄关区大队</option>
                            <option value="14">嘉峪关市公安消防支队镜铁区大队</option>
                            <option value="15">金昌市公安消防支队</option>
                            <option value="16">金昌市公安消防支队金川区大队</option>
                            <option value="17">永昌县公安消防大队</option>
                            <option value="18">河西堡公安消防大队</option>
                            <option value="19">白银市公安消防支队</option>
                            <option value="20">白银市公安消防支队白银区大队</option>
                            <option value="21">平川区大队</option>
                            <option value="22">靖远县公安消防大队</option>
                            <option value="23">景泰县公安消防大队</option>
                            <option value="24">会宁县公安消防大队</option>
                            <option value="25">天水市公安消防支队</option>
                            <option value="26">天水市公安消防支队秦州区大队</option>
                            <option value="27">天水市公安消防支队麦积区大队</option>
                            <option value="28">秦安县公安消防大队</option>
                            <option value="29">甘谷县公安消防大队</option>
                            <option value="30">武山县公安消防大队</option>
                            <option value="31">清水县公安消防大队</option>
                            <option value="32">张川县公安消防大队</option>
                            <option value="33">酒泉市公安消防支队</option>
                            <option value="34">酒泉市公安消防支队肃州区大队</option>
                            <option value="35">敦煌市公安消防大队</option>
                            <option value="36">玉门市公安消防大队</option>
                            <option value="37">金塔县公安消防大队</option>
                            <option value="38">瓜州县公安消防大队</option>
                            <option value="39">肃北县公安消防大队</option>
                            <option value="40">阿克塞县公安消防大队</option>
                            <option value="41">七里镇公安消防大队</option>
                            <option value="42">酒泉市公安消防支队玉门油田大队</option>
                            <option value="43">张掖市公安消防支队</option>
                            <option value="44">张掖市公安消防支队甘州区大队</option>
                            <option value="45">高台县公安消防大队</option>
                            <option value="46">临泽县公安消防大队</option>
                            <option value="47">肃南县公安消防大队</option>
                            <option value="48">民乐县公安消防大队</option>
                            <option value="49">山丹县公安消防大队</option>
                            <option value="50">武威市公安消防支队</option>
                            <option value="51">武威市公安消防支队凉州区大队</option>
                            <option value="52">天祝藏族自治县公安消防大队</option>
                            <option value="53">古浪县公安消防大队</option>
                            <option value="54">民勤县公安消防大队</option>
                            <option value="55">定西市公安消防支队</option>
                            <option value="56">定西市公安消防支队安定区大队</option>
                            <option value="57">通渭县公安消防大队</option>
                            <option value="58">陇西县公安消防大队</option>
                            <option value="59">渭源县公安消防大队</option>
                            <option value="60">临洮县公安消防大队</option>
                            <option value="61">漳县公安消防大队</option>
                            <option value="62">岷县公安消防大队</option>
                            <option value="63">陇南市公安消防支队</option>
                            <option value="64">陇南市公安消防支队武都区大队</option>
                            <option value="65">宕昌公安消防大队</option>
                            <option value="66">文县公安消防大队</option>
                            <option value="67">康县公安消防大队</option>
                            <option value="68">成县公安消防大队</option>
                            <option value="69">徽县公安消防大队</option>
                            <option value="70">西和公安消防大队</option>
                            <option value="71">礼县公安消防大队</option>
                            <option value="72">两当公安消防大队</option>
                            <option value="73">平凉市公安消防支队</option>
                            <option value="74">平凉市公安消防支队崆峒区大队</option>
                            <option value="75">静宁县公安消防大队</option>
                            <option value="76">庄浪县公安消防大队</option>
                            <option value="77">华亭县公安消防大队</option>
                            <option value="78">崇信县公安消防大队</option>
                            <option value="79">泾川县公安消防大队</option>
                            <option value="80">灵台县公安消防大队</option>
                            <option value="81">庆阳市公安消防支队</option>
                            <option value="82">庆阳市公安消防支队西峰区大队</option>
                            <option value="83">庆城县公安消防大队</option>
                            <option value="84">环县公安消防大队</option>
                            <option value="85">华池县公安消防大队</option>
                            <option value="86">合水县公安消防大队</option>
                            <option value="87">宁县公安消防大队</option>
                            <option value="88">正宁县公安消防大队</option>
                            <option value="89">镇原县公安消防大队</option>
                            <option value="90">临夏回族自治州公安消防支队</option>
                            <option value="91">临夏市公安消防大队</option>
                            <option value="92">临夏县公安消防大队</option>
                            <option value="93">康乐县公安消防大队</option>
                            <option value="94">永靖县公安消防大队</option>
                            <option value="95">广河县公安消防大队</option>
                            <option value="96">和政县公安消防大队</option>
                            <option value="97">东乡族自治县公安消防大队</option>
                            <option value="98">积石山保安族东乡族撒拉族自治县公安消防大队</option>
                            <option value="99">甘南州公安消防支队</option>
                            <option value="100">合作市公安消防大队</option>
                            <option value="101">夏河县公安消防大队</option>
                            <option value="102">碌曲县公安消防大队</option>
                            <option value="103">玛曲县公安消防大队</option>
                            <option value="104">迭部县公安消防大队</option>
                            <option value="105">舟曲县公安消防大队</option>
                            <option value="106">临潭县公安消防大队</option>
                            <option value="107">卓尼县公安消防大队</option>
                            <option value="108">兰州新区公安消防支队</option>
                        </select>
                    </td>
                    
                </tr>
                <tr>

                    <td style="text-align:right">详细地址：</td>
                    <td colspan="2">
                        <input class="easyui-textbox" name="Address" />
                    </td>
                    <td></td>
                    <td style="text-align:right">建筑类型：</td>
                    <td>
                        <select class="easyui-combobox" name="BuildType" editable="false" style="width:90px" panelHeight="auto">
                            <option value="0">公用建筑</option>
                            <option value="1">民用建筑</option>
                        </select>
                    </td>
                    
                </tr>
                <tr>
                    <td style="text-align:right">火灾危险性：</td>
                    <td>
                        <select class="easyui-combobox" name="FireRisk" style="width:60px" editable="false" panelHeight="auto">
                            <option value="-1">无</option>
                            <option value="0">甲</option>
                            <option value="1">已</option>
                            <option value="2">丙</option>
                            <option value="3">丁</option>
                            <option value="4">戊</option>
                        </select>
                    </td>
                    <td style="text-align:right">单体建筑面积：</td>
                    <td>
                        <input class=" easyui-numberbox" name="Area" style="width:80px" />
                    </td>
                    <td style="text-align:right">建筑层总数：</td>
                    <td>
                        <input class="easyui-textbox" name="AllLayer" style="width:80px" />
                    </td>
                    <td style="text-align:right">技术服务层数：</td>
                    <td>
                        <input class="easyui-textbox" name="ServiceLayer" style="width:80px" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">合同编号：</td>
                    <td colspan="3">
                        <input class="easyui-textbox" name="ContractNumber"  />
                    </td>
                    <td style="text-align:right">合同签订日期：</td>
                    <td>
                        <input class="easyui-datebox" name="SignDate" style="width:102px;" editable="false" />
                    </td>
                    <td style="text-align:right">合同起止日期：</td>
                    <td colspan="2">
                        <input class="easyui-datebox" name="StartDate" style="width:102px;"  editable="false"/>-<input class="easyui-datebox" name="EndDate" style="width:102px;"  editable="false"/>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">项目负责人：</td>
                    <td>
                        <input class="easyui-textbox" name="ProjectHead" style="width:80px" />
                    </td>
                    <td></td>
                    <td></td>
                    <td style="text-align:right">技术负责人：</td>
                    <td>
                        <input class="easyui-textbox" name="TechHead" style="width:80px"  />
                    </td>
                    <td style="text-align:right">联系人：</td>
                    <td>
                        <input class="easyui-textbox" name="ProjectContact" style="width:80px"  />
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">备注：</td>
                    <td colspan="9">
                        <input class="easyui-textbox" name="Note" style="width:100%"  />
                    </td>
                </tr>
            </table>
        </fieldset>
        <br />
        <fieldset>
            <legend>委托单位信息</legend>
            <table>
                <tr>
                    <td>委托单位：</td>
                    <td>
                        <input class="easyui-textbox" name="Object"  />
                    </td>
                </tr>
                <tr>
                    <td>联系人：</td>
                    <td>
                        <input class="easyui-textbox" name="ObjectContact"  />
                    </td>
                    <td>联系电话：</td>
                    <td>
                        <input class="easyui-textbox" name="ObjectContactPhone" />
                    </td>
                    <td>电子邮箱：</td>
                    <td>
                        <input class="easyui-textbox" name="ObjectEmail" readonly="true" />
                    </td>
                </tr>
            </table>
        </fieldset>
        @{
            
            if (ViewBag.Role == "服务机构" && ViewBag.Progress != 3)
            {
                <p style="text-align:center">
                    <a href="#" class="easyui-linkbutton" onclick="setproject()">保存修改</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="deleteproject()">删除项目</a>
                </p>
            }
            if (ViewBag.Role == "消防机构支队"||ViewBag.Role=="消防机构大队" && ViewBag.Progress == 3)
            {
                <p style="text-align:center">
                    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="deleteproject()">删除项目</a>
                </p>
            }
        }

    </form>

    入场检测资料：
    <a id="rcjc" href="#">点击下载</a>
    项目报告：
    <a id="bg" href="#">点击下载</a>
</body>
</html>
